/* Estilos para el contenedor principal */
.background {
    background-color: #005954;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%232b7a76' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23559b98' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2380bdbb' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23aadedd' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23D5FFFF' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para el formulario */
.main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
}

/* Estilos para el encabezado del formulario */
.cabecera {
    text-align: center;
    margin-bottom: 20px;
}

.titulo {
    font-size: 28px;
    margin: 0;
    color: #333333;
}

/* Estilos para la línea de separación en el encabezado */
.rayaSignIn {
    background-color: #D5FFFF;
    height: 3px;
    width: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilos para los campos de entrada */
input[type='email'],
input[type='password'] {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

/* Estilos para el botón de inicio de sesión */
input[type='submit'] {
    background-color: #005954;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 12px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

/* Estilos para el botón de inicio de sesión al pasar el ratón */
input[type='submit']:hover {
    background-color: #00423b;
}

/* Estilos para el enlace de 'Olvidé mi contraseña' */
a {
    color: #005954;
    text-decoration: none;
    font-size: 14px;
    text-align: right;
}

/* Estilos para la sección 'Recordarme' */
.recuerdame {
    display: flex;
    align-items: center;
}

/* Estilos para el checkbox de 'Recordarme' */
.cocoCheck {
    margin-right: 10px;
}

/* Estilos para la etiqueta del checkbox de 'Recordarme' */
.recuerdame label {
    font-size: 16px;
}
